data/*
!data/.gitkeep

*.o
*.orig
*.swp
*.gch
*.out

openmp/backprop/backprop
openmp/bfs/result.txt
data/

openmp/bfs/bfs
**/kmeans
**/leukocyte
openmp/leukocyte/OpenMP/detect_main.o
**/hotspot
**/hotspot_offload
**/lavaMD
**/lud
**/lud_omp_offload
**/out
**/pathfinder
**/srad